.header {
	background: #FF6743;
	height: 32px;
	color: white;
}

.free-shipping {
	
	background: #CB5135;
	height: 10px;
	width: 90px;
	font-size: 10px;
	margin-left: 95px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	display: inline;
}

.savingsbar{
	display: inline;
/*Allows 'Plus Spring Savings', etc. to display next to 'FREE SHIPPING!'*/
	position: relative;
	top: 5px;
	/*Places small gap between savings text and top of page*/
}

.savings {
	display: inline;
	margin-left: 15px;
	/*Places 15px gap between 'FREE SHIPPING!' and "Plus Spring Savings', etc.*/
}

.navbar {
	position: relative;
	background: white;
	height: 200px;
	border-bottom: 2px solid gray;

}

.logo {
	display: inline;
	/*Allows navs to display on same line as logo.*/
}

.logo img {
	height: 180px;
}

.navs {
	display: inline;
	margin-right: 25px;
	position: relative;
	/*Enables relative positioning*/
	bottom: 60px;
	/*Positions navs centered on the height of the logo.*/
}

.navs a {
	text-decoration: none;
	color: gray;
}

.cart {
	border: 2px solid red;
	display: inline;
	height: 50px;
	width: 100px;
		position: absolute;
	left: 600px;
	top: 90px;
	/*Places shopping cart box in proper location. Weird things were happening when
	trying to add the .cart div next to the navs.*/
}

.cart p {
float: left;
margin: 15px 5px;
}

.counter {
	background: gray;
	height: 20px;
	width: 20px;
	float: left;
	margin-top: 12px;
}

.counternumber {
	padding: 5px;
	display: inline;
	margin: 0px;
}

.sprite {
	background: url('hard-mode/assets/sprite@2x.png') no-repeat -90px -2px;
	width: 28px;
	height: 24px;
	margin: 10px 5px;
	float: left;
	/*Lines up shopping cart in cart div.*/
}

.search-container {
	float: right;
	position: relative;
	top: 60px;
	right: 40px;
}
/*Places Search box and Sign In and Register boxes on right side of Navbar and positions appropriately.*/

.searchbox {
	position: relative;
	/*Enables Search box to be positioned.*/
}

.search-container div a {
	text-decoration: none;
	color: gray;
}

.signin-container {
	float: right;
}

.signin {
	display: inline;
	margin-right: 10px;
}

.register {
	display: inline;
}
