.header {
	background: #FF6743;
	height: 33px;
	color: white;
}

.free-shipping {
	background: #CB5135;
	width: 95px;
	height: 20px;
	font-size: 10px;
	padding: 6px 7px;
	/*Puts dark orange padding around FREE SHIPPING!*/
	border-radius: 3px;
	text-align: center;
	display: inline;
	position: relative;
	top: 6px;
	/*Places 6px gap between text and top of header.*/
	margin-right: 13px;
	/*places 13 pix gap on right between dark orange padding and savings text.*/
}

.savingsbar{
	height: 33px;
	/*Matches height to that of orange header*/
	margin-left: 95px;
}

.savings {
	display: inline;
	font-size: 12px;
	position: relative;
	top: 6px;
	/*Places 6px gap between text and top of header*/
	margin-right: 16px;
}

.navbar {
	background: white;
	height: 100px;
}

.navbar img {
	height: 100px;
	margin-left: 94px;
	margin-right: 62px;
	float: left;
}

.navs {
	float: left;
	margin-right: 17px;
	margin-top: 41px;

}

.navs a {
	text-decoration: none;
	color: gray;
	font-size: 18px;
}

.cart {
	border: 1px solid gray;
	float: left;
	width: 80px;
	height: 30px;
	margin-top: 36px;
	margin-left: 101px;
	/*Places shopping cart box in proper location. Weird things were happening when
	trying to add the .cart div next to the navs.*/
}

.cart p {
font-size: 12px;
float: left;
}

.counter {
	background: gray;
	height: 17px;
	width: 17px;
	float: left;
	margin-top: 6px;
	color: white;
	text-align: center;
	font-size: 12px;
	padding-top: 2px;
}

.sprite {
	background: url('hard-mode/assets/sprite@2x.png') no-repeat -90px -2px;
	width: 28px;
	height: 24px;
	margin: 5px 5px;
	float: left;
	/*Lines up shopping cart in cart div.*/
}

.search-container {
	float: left;
	margin-left: 10px;
}

.searchform {
	height: 22px;
	width: 130px;
	margin-top: 9px;
}

.searchform input {
	margin-top: 9px;
	height: 22px;
	width: 130px;
}

.search-container div a {
	text-decoration: none;
	color: gray;
}

.signin-container {
	float: right;
	margin-top: 11px;
}

.signin {
	display: inline;
	margin-right: 10px;
	font-size: 9px;
}

.register {
	display: inline;
	font-size: 9px;
}

.body1 {
	background: #F4F4F4;
	height: 350px;
	border-bottom: 1px solid black;
}

.tiecontainer {
	margin-left: 158px;
	height: 162px;
	/*Gives height to the .tiecontainer div, which causes the "Start Dressing
	Better" slogan to drop below, since .tiecontainer is a block-level element.*/
}

.tie {
	float: left;
	margin-right: 26px;
	/*Spaces ties evenly across center of page*/
}

.tie img {
	width: 64px;
	/*Makes tie imgs the same size as the ties in the mockup.*/
}

.tie a {
	text-decoration: none;
	color: gray;
	font-size: 14px;
}

.tiecaption {
	text-align: center;
	/*Aligns text in the center of the tiecaption divs*/
	margin-top: 8px;
	/*Aligns text vertically with text under ties in the mockup*/
}

.tieslogan {
	font-size: 48px;
	margin-top: 54px;
	margin-left: 324px;
}

.body2 {
	background: white;
	height: 469px;
}

.tiecontainer2 {
	margin-top: 43px;
	margin-left: 100px;
	overflow: auto;
}

.tiecontainer2 a {
	text-decoration: none;
}

.tierow {
	float: left;
	margin-right: 17px;
	position: relative;
}

h2 {
	position: absolute;
	top: 18px;
	right: 18px;
	margin: 0px;
}


.tie2 {
	width: 291px;
}

.tiehistory1 {
	font-size: 40px;
	margin-top: 81px;
	text-align: center;
	clear: left;
}

.tiehistory2 {
	font-size: 40px;
	text-align: center;
}

.viewstory {
	font-size: 30px;
	text-align: center;
}

.viewstory a {
	text-decoration: none;
	color: lightblue;
}

.body3 {
	background: white;
	height: 300px;
	bottom-border: 1px solid gray;
}

.body3container {
	margin-left: 90px;
	overflow: auto;
}

.body3row {
	width: 100px;
	float: left;
	margin-top: 30px;
	margin-right: 20px;
}

.body3img {
	height: 50px;
	width: 100px;
}

.body4 {
	height: 200px;
	background: #F4F4F4;
}

.body4container {
	margin-top: 20px;
	margin-left: 80px;
}

.footernavrow {
	background: yellow;
	height: 150px;
	width: 100px;
	float: left;
	margin-right: 20px;
}

.footnavs {
	padding-left: 0px;
}

.footnavs li {
	list-style: none;
}

.here4u-container {
	height: 100px;
	width: 300px;
	float: right;
	margin-top: 20px;
	margin-right: 70px;
	background: gray;
	position: relative;
}

.here4u {
	color: white;
	margin: 15px;
}

.contactus {
	position: absolute;
	bottom: 15px;
	right: 10px;
	background: #24A3F8;
	padding: 7px;
	color: white;

}